[submodule "knitwearandotherfineapparel.github.io"]
	path = knitwearandotherfineapparel.github.io
	url = git@github.com:knitwearandotherfineapparel/knitwearandotherfineapparel.github.io.git
	branch = master
